/* Clean Start and styling assets and pulls */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Main Sections */

body {
    display: grid;
    grid-template-rows: 225px auto 1fr auto;
    grid-template-columns: 25px 1fr 25px;;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, rgb(54, 85, 92) 25%, rgb(05, 54, 50) 40%,black 100%);
    overflow-x: hidden;

}

.header {
    grid-column: 2; 
    grid-row: 1;
    min-height: 100%;
    margin: 0 0 9p0x 0;
    border: 2px solid  #dd0808;
    align-content: left;
    background: url("../img/cropped-logo.png") no-repeat center center / contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    grid-row: 2;
    grid-column: 2;
}

ul {
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
}

.main-container {
    display: grid;
    grid-template-rows: repeat(3, 25px) 200px repeat(4, 25px); 
    grid-row: 3;
    grid-column: 2;
    /* border: 2px solid  #6f09e5; */
    /* background-color: #b880f7; */
}

footer {
    grid-row: 4;
    grid-column: 2;
    border: 2px solid  #c4be0d;
    background-color: #f7f380;
}

.h3-contact-title {
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.p-contact-text {
    text-align: start;
}

iframe {
    /* width: 87vw; */
    width: 100%;
    height: 100%;
}



/* API Containers */


.haunted {
    grid-row: 9;
    height: 50px;
    color: white;
}

#youtube {
    grid-row: 4;
    justify-items: center;
}





