body {
    display: grid;
    grid-template-columns: 12.5px 1fr 12.5px;
    grid-template-rows: 37.5px 12.5px 100px 12.5px 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.everything-under-here {
    display: grid;
    height: 100vh;
}

/* #player {
    width: 100vw;
    height: 360px;
} */

/* .logo-img {
    grid-row: 3;
    height: 100px;
    width: 225px;
} */

/* .main-title {
    height: 300px;
    background-image:url("/public/img/paranormal-frontiers-banner-logo.jpg")
     */

/* .banner-logo {
    grid-row: 1;
    height: 150px;
} */

/* .vod {
    grid-row: 7;
    height: 250px;
} */